.default {
    --plasma-tooltip-background-color: var(--surface-solid-card-brightness);
    --plasma-tooltip-box-shadow: none;
    --plasma-tooltip-drop-shadow: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.16))
        drop-shadow(0 1px 4px rgba(0, 0, 0, 0.08));
    --plasma-tooltip-color: var(--text-primary);
}
