@salutejs:registry=https://registry.npmjs.org/

save-exact=true
lockfile-version=3

# disabled auto-installing peer dependencies
legacy-peer-deps=true

//registry.npmjs.org/:_authToken=${NPM_REGISTRY_TOKEN}
