/node_modules/
/build

# Exclude package(-lock).json for all packages
package.json
package-lock.json

# Exclude *.api.md
packages/plasma-b2c/api/
packages/plasma-web/api/
packages/plasma-hope/api/
packages/plasma-core/api/
packages/plasma-asdk/api/
packages/sdds-serv/api/
packages/caldera/api/
packages/caldera-online/api/

utils/plasma-cy-utils/lib

# Exclude *.diff
reports
