
@import "https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansText.0.1.0.css";
@import "https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansDisplay.0.1.0.css";

body {
  margin: 0;
}


:root[data-theme="dark"] {
  --overlay-soft: rgba(8,8,8,0.56);
  --overlay-hard: rgba(8,8,8,0.96);
  --overlay-blur: rgba(8,8,8,0.28);
  --on-dark-overlay-soft: rgba(8,8,8,0.56);
  --on-dark-overlay-hard: rgba(8,8,8,0.96);
  --on-dark-overlay-blur: rgba(8,8,8,0.28);
  --on-light-overlay-soft: rgba(249,249,249,0.56);
  --on-light-overlay-hard: rgba(249,249,249,0.96);
  --on-light-overlay-blur: rgba(249,249,249,0.28);
  --text-primary: rgba(255,255,255,0.96);
  --text-secondary: rgba(255,255,255,0.56);
  --text-tertiary: rgba(255,255,255,0.28);
  --text-paragraph: rgba(255,255,255,0.8);
  --text-accent: rgba(63,129,253,1);
  --text-accent-gradient: linear-gradient(89.83deg,#5E94FF 0%,#43DBFA 100%);
  --text-positive: rgba(26,158,50,1);
  --text-warning: rgba(250,95,5,1);
  --text-negative: rgba(255,41,62,1);
  --on-dark-text-primary: rgba(255,255,255,0.96);
  --on-dark-text-secondary: rgba(255,255,255,0.56);
  --on-dark-text-tertiary: rgba(255,255,255,0.28);
  --on-dark-text-paragraph: rgba(255,255,255,0.8);
  --on-dark-text-accent: rgba(63,129,253,1);
  --on-dark-text-accent-gradient: linear-gradient(89.83deg,#5E94FF 0%,#43DBFA 100%);
  --on-dark-text-positive: rgba(26,158,50,1);
  --on-dark-text-warning: rgba(250,95,5,1);
  --on-dark-text-negative: rgba(255,41,62,1);
  --on-light-text-primary: rgba(8,8,8,0.96);
  --on-light-text-secondary: rgba(8,8,8,0.56);
  --on-light-text-tertiary: rgba(8,8,8,0.28);
  --on-light-text-paragraph: rgba(8,8,8,0.8);
  --on-light-text-accent: rgba(42,114,248,1);
  --on-light-text-accent-gradient: linear-gradient(93.97deg,#3E79F0 6.49%,#27C6E5 93.51%);
  --on-light-text-positive: rgba(26,158,50,1);
  --on-light-text-warning: rgba(250,95,5,1);
  --on-light-text-negative: rgba(243,27,49,1);
  --inverse-text-primary: rgba(8,8,8,0.96);
  --inverse-text-secondary: rgba(8,8,8,0.56);
  --inverse-text-tertiary: rgba(8,8,8,0.28);
  --inverse-text-paragraph: rgba(8,8,8,0.8);
  --surface-solid-default: rgba(255,255,255,1);
  --surface-solid-primary: rgba(23,23,23,1);
  --surface-solid-secondary: rgba(38,38,38,1);
  --surface-solid-tertiary: rgba(54,54,54,1);
  --surface-solid-card: rgba(23,23,23,1);
  --surface-transparent-primary: rgba(255,255,255,0.06);
  --surface-transparent-secondary: rgba(255,255,255,0.12);
  --surface-transparent-tertiary: rgba(255,255,255,0.2);
  --surface-transparent-card: rgba(255,255,255,0.12);
  --surface-accent: rgba(63,129,253,1);
  --surface-accent-gradient: linear-gradient(93.97deg,#3E79F0 6.49%,#27C6E5 93.51%),linear-gradient(89.83deg,#5E94FF 0%,#43DBFA 100%);
  --surface-positive: rgba(26,158,50,1);
  --surface-warning: rgba(250,95,5,1);
  --surface-negative: rgba(255,41,62,1);
  --surface-clear: rgba(255,255,255,0);
  --surface-transparent-deep: rgba(255,255,255,0.64);
  --on-dark-surface-solid-default: rgba(255,255,255,1);
  --on-dark-surface-solid-primary: rgba(23,23,23,1);
  --on-dark-surface-solid-secondary: rgba(38,38,38,1);
  --on-dark-surface-solid-tertiary: rgba(54,54,54,1);
  --on-dark-surface-solid-card: rgba(23,23,23,1);
  --on-dark-surface-transparent-primary: rgba(255,255,255,0.06);
  --on-dark-surface-transparent-secondary: rgba(255,255,255,0.12);
  --on-dark-surface-transparent-tertiary: rgba(255,255,255,0.2);
  --on-dark-surface-transparent-card: rgba(255,255,255,0.12);
  --on-dark-surface-accent: rgba(63,129,253,1);
  --on-dark-surface-accent-gradient: linear-gradient(93.97deg,#3E79F0 6.49%,#27C6E5 93.51%);
  --on-dark-surface-positive: rgba(26,158,50,1);
  --on-dark-surface-warning: rgba(250,95,5,1);
  --on-dark-surface-negative: rgba(255,41,62,1);
  --on-dark-surface-transparent-deep: rgba(255,255,255,0.64);
  --on-light-surface-solid-default: rgba(8,8,8,1);
  --on-light-surface-solid-primary: rgba(245,245,245,1);
  --on-light-surface-solid-secondary: rgba(236,236,236,1);
  --on-light-surface-solid-tertiary: rgba(221,221,221,1);
  --on-light-surface-solid-card: rgba(255,255,255,1);
  --on-light-surface-transparent-primary: rgba(8,8,8,0.03);
  --on-light-surface-transparent-secondary: rgba(8,8,8,0.06);
  --on-light-surface-transparent-tertiary: rgba(8,8,8,0.12);
  --on-light-surface-transparent-card: rgba(255,255,255,1);
  --on-light-surface-accent: rgba(42,114,248,1);
  --on-light-surface-accent-gradient: linear-gradient(93.97deg,#3E79F0 6.49%,#27C6E5 93.51%);
  --on-light-surface-positive: rgba(26,158,50,1);
  --on-light-surface-warning: rgba(250,95,5,1);
  --on-light-surface-negative: rgba(243,27,49,1);
  --on-light-surface-transparent-deep: rgba(8,8,8,0.64);
  --background-primary: rgba(8,8,8,1);
  --dark-background-primary: rgba(8,8,8,1);
  --light-background-primary: rgba(249,249,249,1);
  --skeleton-gradient: linear-gradient( 90deg,rgba(255,255,255,0.09) 0%,rgba(255,255,255,0.08) 6.25%,rgba(255,255,255,0.05) 12.5%,rgba(255,255,255,0.01) 25%,rgba(255,255,255,0.05) 37.5%,rgba(255,255,255,0.08) 43.75%,rgba(255,255,255,0.09) 50%,rgba(255,255,255,0.08) 56.25%,rgba(255,255,255,0.05) 62.5%,rgba(255,255,255,0.01) 75%,rgba(255,255,255,0.05) 87.5%,rgba(255,255,255,0.08) 93.75%,rgba(255,255,255,0.09) 100% );
  --skeleton-gradient-lighter: linear-gradient( 90deg,rgba(255,255,255,0.36) 0%,rgba(255,255,255,0.32) 6.25%,rgba(255,255,255,0.20) 12.5%,rgba(255,255,255,0.04) 25%,rgba(255,255,255,0.20) 37.5%,rgba(255,255,255,0.32) 43.75%,rgba(255,255,255,0.36) 50%,rgba(255,255,255,0.08) 56.25%,rgba(255,255,255,0.20) 62.5%,rgba(255,255,255,0.04) 75%,rgba(255,255,255,0.20) 87.5%,rgba(255,255,255,0.32) 93.75%,rgba(255,255,255,0.36) 100% );
  --plasma-colors-white-primary: rgba(255,255,255,0.96);
  --plasma-colors-white-secondary: rgba(255,255,255,0.56);
  --plasma-colors-white-tertiary: rgba(255,255,255,0.28);
  --plasma-colors-black-primary: rgba(8,8,8,0.96);
  --plasma-colors-black-secondary: rgba(8,8,8,0.56);
  --plasma-colors-black-tertiary: rgba(8,8,8,0.28);
  --plasma-colors-button-black: rgba(8,8,8,1);
  --plasma-colors-button-black-secondary: rgba(8,8,8,0.06);
  --plasma-colors-button-white: rgba(255,255,255,1);
  --plasma-colors-button-white-secondary: rgba(255,255,255,0.12);
  --plasma-colors-text: rgba(255,255,255,0.96);
  --plasma-colors-primary: rgba(255,255,255,0.96);
  --plasma-colors-secondary: rgba(255,255,255,0.56);
  --plasma-colors-tertiary: rgba(255,255,255,0.28);
  --plasma-colors-paragraph: rgba(255,255,255,0.8);
  --plasma-colors-background: rgba(8,8,8,1);
  --plasma-colors-accent: rgba(63,129,253,1);
  --plasma-colors-success: rgba(26,158,50,1);
  --plasma-colors-warning: rgba(250,95,5,1);
  --plasma-colors-critical: rgba(255,41,62,1);
  --plasma-colors-overlay: rgba(8,8,8,0.56);
  --plasma-colors-surface-liquid01: rgba(255,255,255,0.06);
  --plasma-colors-surface-liquid02: rgba(255,255,255,0.12);
  --plasma-colors-surface-liquid03: rgba(255,255,255,0.2);
  --plasma-colors-surface-solid01: rgba(23,23,23,1);
  --plasma-colors-surface-solid02: rgba(38,38,38,1);
  --plasma-colors-surface-solid03: rgba(54,54,54,1);
  --plasma-colors-surface-card: rgba(255,255,255,0.12);
  --plasma-colors-button-secondary: rgba(255,255,255,0.12);
  --plasma-colors-button-accent: rgba(63,129,253,1);
  --plasma-colors-button-success: rgba(26,158,50,1);
  --plasma-colors-button-warning: rgba(250,95,5,1);
  --plasma-colors-button-critical: rgba(255,41,62,1);
  --shadow-down-soft-s: 0px 4px 14px -4px rgba(8,8,8,0.08),0px 1px 4px -1px rgba(0,0,0,0.04);
  --shadow-down-soft-m: 0px 24px 48px -8px rgba(0,0,0,0.08);
  --shadow-down-soft-l: 0px 60px 112px -8px rgba(0,0,0,0.08);
  --shadow-down-hard-s: 0px 4px 12px -3px rgba(8,8,8,0.16),0px 1px 4px -2px rgba(0,0,0,0.08);
  --shadow-down-hard-m: 0px 16px 32px -8px rgba(0,0,0,0.24);
  --shadow-down-hard-l: 0px 60px 112px -8px rgba(0,0,0,0.40);
  --shadow-up-soft-s: 0px -4px 14px -4px rgba(8,8,8,0.08),0px -1px 4px -1px rgba(0,0,0,0.03);
  --shadow-up-soft-m: 0px -24px 48px -8px rgba(0,0,0,0.08);
  --shadow-up-soft-l: 0px -60px 112px -8px rgba(0,0,0,0.08);
  --shadow-up-hard-s: 0px -4px 12px -3px rgba(8,8,8,0.20),0px -1px 4px -1px rgba(0,0,0,0.03);
  --shadow-up-hard-m: 0px -16px 32px -8px rgba(0,0,0,0.24);
  --shadow-up-hard-l: 0px -60px 112px -8px rgba(0,0,0,0.40);
  color: rgba(255,255,255,0.96);
  background-color: rgba(8,8,8,1);
}

:root, :root[data-theme="light"] {
  --overlay-soft: rgba(249,249,249,0.56);
  --overlay-hard: rgba(249,249,249,0.96);
  --overlay-blur: rgba(249,249,249,0.28);
  --on-dark-overlay-soft: rgba(8,8,8,0.56);
  --on-dark-overlay-hard: rgba(8,8,8,0.96);
  --on-dark-overlay-blur: rgba(8,8,8,0.28);
  --on-light-overlay-soft: rgba(249,249,249,0.56);
  --on-light-overlay-hard: rgba(249,249,249,0.96);
  --on-light-overlay-blur: rgba(249,249,249,0.28);
  --text-primary: rgba(8,8,8,0.96);
  --text-secondary: rgba(8,8,8,0.56);
  --text-tertiary: rgba(8,8,8,0.28);
  --text-paragraph: rgba(8,8,8,0.8);
  --text-accent: rgba(42,114,248,1);
  --text-accent-gradient: linear-gradient(93.97deg,#3E79F0 6.49%,#27C6E5 93.51%);
  --text-positive: rgba(26,158,50,1);
  --text-warning: rgba(250,95,5,1);
  --text-negative: rgba(243,27,49,1);
  --on-dark-text-primary: rgba(255,255,255,0.96);
  --on-dark-text-secondary: rgba(255,255,255,0.56);
  --on-dark-text-tertiary: rgba(255,255,255,0.28);
  --on-dark-text-paragraph: rgba(255,255,255,0.8);
  --on-dark-text-accent: rgba(63,129,253,1);
  --on-dark-text-accent-gradient: linear-gradient(89.83deg,#5E94FF 0%,#43DBFA 100%);
  --on-dark-text-positive: rgba(26,158,50,1);
  --on-dark-text-warning: rgba(250,95,5,1);
  --on-dark-text-negative: rgba(255,41,62,1);
  --on-light-text-primary: rgba(8,8,8,0.96);
  --on-light-text-secondary: rgba(8,8,8,0.56);
  --on-light-text-tertiary: rgba(8,8,8,0.28);
  --on-light-text-paragraph: rgba(8,8,8,0.8);
  --on-light-text-accent: rgba(42,114,248,1);
  --on-light-text-accent-gradient: linear-gradient(93.97deg,#3E79F0 6.49%,#27C6E5 93.51%);
  --on-light-text-positive: rgba(26,158,50,1);
  --on-light-text-warning: rgba(250,95,5,1);
  --on-light-text-negative: rgba(243,27,49,1);
  --inverse-text-primary: rgba(255,255,255,0.96);
  --inverse-text-secondary: rgba(255,255,255,0.56);
  --inverse-text-tertiary: rgba(255,255,255,0.28);
  --inverse-text-paragraph: rgba(255,255,255,0.8);
  --surface-solid-default: rgba(8,8,8,1);
  --surface-solid-primary: rgba(245,245,245,1);
  --surface-solid-secondary: rgba(236,236,236,1);
  --surface-solid-tertiary: rgba(221,221,221,1);
  --surface-solid-card: rgba(255,255,255,1);
  --surface-transparent-primary: rgba(8,8,8,0.03);
  --surface-transparent-secondary: rgba(8,8,8,0.06);
  --surface-transparent-tertiary: rgba(8,8,8,0.12);
  --surface-transparent-card: rgba(255,255,255,1);
  --surface-accent: rgba(42,114,248,1);
  --surface-accent-gradient: linear-gradient(93.97deg,#3E79F0 6.49%,#27C6E5 93.51%);
  --surface-positive: rgba(26,158,50,1);
  --surface-warning: rgba(250,95,5,1);
  --surface-negative: rgba(243,27,49,1);
  --surface-clear: rgba(255,255,255,0);
  --surface-transparent-deep: rgba(8,8,8,0.64);
  --on-dark-surface-solid-default: rgba(255,255,255,1);
  --on-dark-surface-solid-primary: rgba(23,23,23,1);
  --on-dark-surface-solid-secondary: rgba(38,38,38,1);
  --on-dark-surface-solid-tertiary: rgba(54,54,54,1);
  --on-dark-surface-solid-card: rgba(23,23,23,1);
  --on-dark-surface-transparent-primary: rgba(23,23,23,1);
  --on-dark-surface-transparent-secondary: rgba(38,38,38,1);
  --on-dark-surface-transparent-tertiary: rgba(54,54,54,1);
  --on-dark-surface-transparent-card: rgba(255,255,255,0.12);
  --on-dark-surface-accent: rgba(63,129,253,1);
  --on-dark-surface-accent-gradient: linear-gradient(93.97deg,#3E79F0 6.49%,#27C6E5 93.51%);
  --on-dark-surface-positive: rgba(26,158,50,1);
  --on-dark-surface-warning: rgba(250,95,5,1);
  --on-dark-surface-negative: rgba(255,41,62,1);
  --on-dark-surface-transparent-deep: rgba(255,255,255,0.64);
  --on-light-surface-solid-default: rgba(8,8,8,1);
  --on-light-surface-solid-primary: rgba(245,245,245,1);
  --on-light-surface-solid-secondary: rgba(236,236,236,1);
  --on-light-surface-solid-tertiary: rgba(221,221,221,1);
  --on-light-surface-solid-card: rgba(255,255,255,1);
  --on-light-surface-transparent-primary: rgba(8,8,8,0.03);
  --on-light-surface-transparent-secondary: rgba(8,8,8,0.06);
  --on-light-surface-transparent-tertiary: rgba(8,8,8,0.12);
  --on-light-surface-transparent-card: rgba(255,255,255,1);
  --on-light-surface-accent: rgba(42,114,248,1);
  --on-light-surface-accent-gradient: linear-gradient(93.97deg,#3E79F0 6.49%,#27C6E5 93.51%);
  --on-light-surface-positive: rgba(26,158,50,1);
  --on-light-surface-warning: rgba(250,95,5,1);
  --on-light-surface-negative: rgba(243,27,49,1);
  --on-light-surface-transparent-deep: rgba(8,8,8,0.64);
  --background-primary: rgba(249,249,249,1);
  --dark-background-primary: rgba(8,8,8,1);
  --light-background-primary: rgba(249,249,249,1);
  --skeleton-gradient: linear-gradient( 90deg,rgba(8,8,8,0.09) 0%,rgba(8,8,8,0.08) 6.25%,rgba(8,8,8,0.05) 12.5%,rgba(8,8,8,0.01) 25%,rgba(8,8,8,0.05) 37.5%,rgba(8,8,8,0.08) 43.75%,rgba(8,8,8,0.09) 50%,rgba(8,8,8,0.08) 56.25%,rgba(8,8,8,0.05) 62.5%,rgba(8,8,8,0.01) 75%,rgba(8,8,8,0.05) 87.5%,rgba(8,8,8,0.08) 93.75%,rgba(8,8,8,0.09) 100% );
  --skeleton-gradient-lighter: linear-gradient( 90deg,rgba(8,8,8,0.36) 0%,rgba(8,8,8,0.32) 6.25%,rgba(8,8,8,0.20) 12.5%,rgba(8,8,8,0.04) 25%,rgba(8,8,8,0.20) 37.5%,rgba(8,8,8,0.32) 43.75%,rgba(8,8,8,0.36) 50%,rgba(8,8,8,0.08) 56.25%,rgba(8,8,8,0.20) 62.5%,rgba(8,8,8,0.04) 75%,rgba(8,8,8,0.20) 87.5%,rgba(8,8,8,0.32) 93.75%,rgba(8,8,8,0.36) 100% );
  --plasma-colors-white-primary: rgba(255,255,255,0.96);
  --plasma-colors-white-secondary: rgba(255,255,255,0.56);
  --plasma-colors-white-tertiary: rgba(255,255,255,0.28);
  --plasma-colors-black-primary: rgba(8,8,8,0.96);
  --plasma-colors-black-secondary: rgba(8,8,8,0.56);
  --plasma-colors-black-tertiary: rgba(8,8,8,0.28);
  --plasma-colors-button-black: rgba(8,8,8,1);
  --plasma-colors-button-black-secondary: rgba(8,8,8,0.06);
  --plasma-colors-button-white: rgba(255,255,255,1);
  --plasma-colors-button-white-secondary: rgba(38,38,38,1);
  --plasma-colors-text: rgba(8,8,8,0.96);
  --plasma-colors-primary: rgba(8,8,8,0.96);
  --plasma-colors-secondary: rgba(8,8,8,0.56);
  --plasma-colors-tertiary: rgba(8,8,8,0.28);
  --plasma-colors-paragraph: rgba(8,8,8,0.8);
  --plasma-colors-background: rgba(249,249,249,1);
  --plasma-colors-accent: rgba(42,114,248,1);
  --plasma-colors-success: rgba(26,158,50,1);
  --plasma-colors-warning: rgba(250,95,5,1);
  --plasma-colors-critical: rgba(243,27,49,1);
  --plasma-colors-overlay: rgba(249,249,249,0.56);
  --plasma-colors-surface-liquid01: rgba(8,8,8,0.03);
  --plasma-colors-surface-liquid02: rgba(8,8,8,0.06);
  --plasma-colors-surface-liquid03: rgba(8,8,8,0.12);
  --plasma-colors-surface-solid01: rgba(245,245,245,1);
  --plasma-colors-surface-solid02: rgba(236,236,236,1);
  --plasma-colors-surface-solid03: rgba(221,221,221,1);
  --plasma-colors-surface-card: rgba(255,255,255,1);
  --plasma-colors-button-secondary: rgba(8,8,8,0.06);
  --plasma-colors-button-accent: rgba(42,114,248,1);
  --plasma-colors-button-success: rgba(26,158,50,1);
  --plasma-colors-button-warning: rgba(250,95,5,1);
  --plasma-colors-button-critical: rgba(243,27,49,1);
  --shadow-down-soft-s: 0px 4px 14px -4px rgba(8,8,8,0.08),0px 1px 4px -1px rgba(0,0,0,0.04);
  --shadow-down-soft-m: 0px 24px 48px -8px rgba(0,0,0,0.08);
  --shadow-down-soft-l: 0px 60px 112px -8px rgba(0,0,0,0.08);
  --shadow-down-hard-s: 0px 4px 12px -3px rgba(8,8,8,0.16),0px 1px 4px -2px rgba(0,0,0,0.08);
  --shadow-down-hard-m: 0px 16px 32px -8px rgba(0,0,0,0.24);
  --shadow-down-hard-l: 0px 60px 112px -8px rgba(0,0,0,0.40);
  --shadow-up-soft-s: 0px -4px 14px -4px rgba(8,8,8,0.08),0px -1px 4px -1px rgba(0,0,0,0.03);
  --shadow-up-soft-m: 0px -24px 48px -8px rgba(0,0,0,0.08);
  --shadow-up-soft-l: 0px -60px 112px -8px rgba(0,0,0,0.08);
  --shadow-up-hard-s: 0px -4px 12px -3px rgba(8,8,8,0.20),0px -1px 4px -1px rgba(0,0,0,0.03);
  --shadow-up-hard-m: 0px -16px 32px -8px rgba(0,0,0,0.24);
  --shadow-up-hard-l: 0px -60px 112px -8px rgba(0,0,0,0.40);
  color: rgba(8,8,8,0.96);
  background-color: rgba(249,249,249,1);
}


:root[data-theme="light"], :root[data-plasma-theme="sds"] {
--overlay-soft: rgba(0,0,0,0.56);
--overlay-hard: rgba(0,0,0,0.9);
--on-dark-overlay-soft: rgba(0,0,0,0.56);
--on-dark-overlay-hard: rgba(0,0,0,0.9);
--on-light-overlay-soft: rgba(0,0,0,0.56);
--on-light-overlay-hard: rgba(0,0,0,0.9);
--inverse-overlay-soft: rgba(0,0,0,0.56);
--inverse-overlay-hard: rgba(0,0,0,0.9);
--text-primary: rgba(23,23,23,0.96);
--text-secondary: rgba(23,23,23,0.56);
--text-tertiary: rgba(23,23,23,0.4);
--text-paragraph: rgba(23,23,23,0.8);
--text-accent: #0C72B6;
--text-accent-gradient: linear-gradient(45.00deg,rgb(30,44,108) 0%,rgb(43,101,185) 100%);
--text-positive: #108E25;
--text-warning: #E85702;
--text-negative: #F31B31;
--on-dark-text-primary: rgba(245,245,245,0.96);
--on-dark-text-secondary: rgba(245,245,245,0.56);
--on-dark-text-tertiary: rgba(245,245,245,0.4);
--on-dark-text-paragraph: rgba(245,245,245,0.8);
--on-dark-text-accent: #FFFFFF;
--on-dark-text-accent-gradient: linear-gradient(135deg,black 0%,#FFFFFF 100%);
--on-dark-text-positive: #1A9E32;
--on-dark-text-warning: #FA5F05;
--on-dark-text-negative: #FF293E;
--on-light-text-primary: rgba(8,8,8,0.96);
--on-light-text-secondary: rgba(8,8,8,0.56);
--on-light-text-tertiary: rgba(8,8,8,0.4);
--on-light-text-paragraph: rgba(8,8,8,0.8);
--on-light-text-accent: #FFFFFF;
--on-light-text-accent-gradient: linear-gradient(135deg,white 0%,#FFFFFF 100%);
--on-light-text-positive: #108E25;
--on-light-text-warning: #E85702;
--on-light-text-negative: #F31B30;
--inverse-text-primary: rgba(245,245,245,0.96);
--inverse-text-secondary: rgba(245,245,245,0.56);
--inverse-text-tertiary: rgba(245,245,245,0.4);
--inverse-text-paragraph: rgba(245,245,245,0.8);
--inverse-text-accent: #FFFFFF;
--inverse-text-accent-gradient: linear-gradient(135deg,black 0%,#FFFFFF 100%);
--inverse-text-positive: #1A9E32;
--inverse-text-warning: #FA5F05;
--inverse-text-negative: #FF293E;
--surface-solid-default: #080808;
--surface-solid-primary: #F5F5F5;
--surface-solid-secondary: #ECECEC;
--surface-solid-tertiary: #DDDDDD;
--surface-solid-card: #FFFFFF;
--surface-transparent-default: #080808;
--surface-transparent-primary: rgba(8,8,8,0.02);
--surface-transparent-secondary: rgba(8,8,8,0.06);
--surface-transparent-tertiary: rgba(8,8,8,0.12);
--surface-transparent-card: #FFFFFF;
--surface-accent: #0B7ECB;
--surface-accent-gradient: linear-gradient(45.00deg,rgb(30,44,108) 0%,rgb(43,101,185) 100%);
--surface-positive: #1A9E32;
--surface-warning: #FA5F05;
--surface-negative: #DD1428;
--surface-clear: rgba(0,0,0,0);
--on-dark-surface-solid-default: #FFFFFF;
--on-dark-surface-solid-primary: #171717;
--on-dark-surface-solid-secondary: #262626;
--on-dark-surface-solid-tertiary: #363636;
--on-dark-surface-solid-card: #171717;
--on-dark-surface-transparent-default: #FFFFFF;
--on-dark-surface-transparent-primary: rgba(255,255,255,0.06);
--on-dark-surface-transparent-secondary: rgba(255,255,255,0.12);
--on-dark-surface-transparent-tertiary: rgba(255,255,255,0.2);
--on-dark-surface-transparent-card: rgba(255,255,255,0.12);
--on-dark-surface-accent: #FFFFFF;
--on-dark-surface-accent-gradient: linear-gradient(135deg,black 0%,#FFFFFF 100%);
--on-dark-surface-positive: #1A9E32;
--on-dark-surface-warning: #FA5F05;
--on-dark-surface-negative: #FF293E;
--on-dark-surface-clear: rgba(0,0,0,0);
--on-light-surface-solid-default: #080808;
--on-light-surface-solid-primary: #F5F5F5;
--on-light-surface-solid-secondary: #ECECEC;
--on-light-surface-solid-tertiary: #DDDDDD;
--on-light-surface-solid-card: #F7F7F7;
--on-light-surface-transparent-default: #080808;
--on-light-surface-transparent-primary: rgba(8,8,8,0.02);
--on-light-surface-transparent-secondary: rgba(8,8,8,0.06);
--on-light-surface-transparent-tertiary: rgba(8,8,8,0.12);
--on-light-surface-transparent-card: rgba(8,8,8,0.06);
--on-light-surface-accent: #FFFFFF;
--on-light-surface-accent-gradient: linear-gradient(135deg,white 0%,#FFFFFF 100%);
--on-light-surface-positive: #108E25;
--on-light-surface-warning: #E85702;
--on-light-surface-negative: #F31B30;
--on-light-surface-clear: rgba(0,0,0,0);
--inverse-surface-solid-default: #FFFFFF;
--inverse-surface-solid-primary: #171717;
--inverse-surface-solid-secondary: #262626;
--inverse-surface-solid-tertiary: #363636;
--inverse-surface-solid-card: #171717;
--inverse-surface-transparent-default: #FFFFFF;
--inverse-surface-transparent-primary: rgba(255,255,255,0.06);
--inverse-surface-transparent-secondary: rgba(255,255,255,0.12);
--inverse-surface-transparent-tertiary: rgba(255,255,255,0.2);
--inverse-surface-transparent-card: rgba(255,255,255,0.12);
--inverse-surface-accent: #FFFFFF;
--inverse-surface-accent-gradient: linear-gradient(135deg,black 0%,#FFFFFF 100%);
--inverse-surface-positive: #1A9E32;
--inverse-surface-warning: #FA5F05;
--inverse-surface-negative: #FF293E;
--inverse-surface-clear: rgba(0,0,0,0);
--background-primary: #F9F9F9;
--background-secondary: #FFFFFF;
--background-tertiary: #FFFFFF;
--dark-background-primary: #000000;
--dark-background-secondary: #080808;
--dark-background-tertiary: #171717;
--light-background-primary: #FFFFFF;
--light-background-secondary: #FFFFFF;
--light-background-tertiary: #FFFFFF;
--inverse-background-primary: #000000;
--inverse-background-secondary: #080808;
--inverse-background-tertiary: #171717;
--skeleton-gradient: linear-gradient( 90deg,rgba(8,8,8,0.09) 0%,rgba(8,8,8,0.08) 6.25%,rgba(8,8,8,0.05) 12.5%,rgba(8,8,8,0.01) 25%,rgba(8,8,8,0.05) 37.5%,rgba(8,8,8,0.08) 43.75%,rgba(8,8,8,0.09) 50%,rgba(8,8,8,0.08) 56.25%,rgba(8,8,8,0.05) 62.5%,rgba(8,8,8,0.01) 75%,rgba(8,8,8,0.05) 87.5%,rgba(8,8,8,0.08) 93.75%,rgba(8,8,8,0.09) 100% );
--skeleton-gradient-lighter: linear-gradient( 90deg,rgba(8,8,8,0.36) 0%,rgba(8,8,8,0.32) 6.25%,rgba(8,8,8,0.20) 12.5%,rgba(8,8,8,0.04) 25%,rgba(8,8,8,0.20) 37.5%,rgba(8,8,8,0.32) 43.75%,rgba(8,8,8,0.36) 50%,rgba(8,8,8,0.08) 56.25%,rgba(8,8,8,0.20) 62.5%,rgba(8,8,8,0.04) 75%,rgba(8,8,8,0.20) 87.5%,rgba(8,8,8,0.32) 93.75%,rgba(8,8,8,0.36) 100% );
--plasma-colors-white-primary: rgba(245,245,245,0.96);
--plasma-colors-white-secondary: rgba(245,245,245,0.56);
--plasma-colors-white-tertiary: rgba(245,245,245,0.4);
--plasma-colors-black-primary: rgba(8,8,8,0.96);
--plasma-colors-black-secondary: rgba(8,8,8,0.56);
--plasma-colors-black-tertiary: rgba(8,8,8,0.4);
--plasma-colors-button-black: #080808;
--plasma-colors-button-black-secondary: rgba(8,8,8,0.06);
--plasma-colors-button-white: #FFFFFF;
--plasma-colors-button-white-secondary: rgba(255,255,255,0.12);
--plasma-colors-text: rgba(23,23,23,0.96);
--plasma-colors-primary: rgba(23,23,23,0.96);
--plasma-colors-secondary: rgba(23,23,23,0.56);
--plasma-colors-tertiary: rgba(23,23,23,0.4);
--plasma-colors-paragraph: rgba(23,23,23,0.8);
--plasma-colors-background: #F9F9F9;
--plasma-colors-accent: #0C72B6;
--plasma-colors-success: #108E25;
--plasma-colors-warning: #E85702;
--plasma-colors-critical: #F31B31;
--plasma-colors-overlay: rgba(0,0,0,0.56);
--plasma-colors-surface-liquid01: rgba(8,8,8,0.02);
--plasma-colors-surface-liquid02: rgba(8,8,8,0.06);
--plasma-colors-surface-liquid03: rgba(8,8,8,0.12);
--plasma-colors-surface-solid01: #F5F5F5;
--plasma-colors-surface-solid02: #ECECEC;
--plasma-colors-surface-solid03: #DDDDDD;
--plasma-colors-surface-card: #FFFFFF;
--plasma-colors-button-secondary: rgba(8,8,8,0.06);
--plasma-colors-button-accent: #0C72B6;
--plasma-colors-button-success: #1A9E32;
--plasma-colors-button-warning: #FA5F05;
--plasma-colors-button-critical: #DD1428;
color: rgba(23,23,23,0.96);
background-color: #F9F9F9;
}



 /* TODO: move theme to inline style element */

:root {
    --plasma-colors-white: #FFFFFF;
    --plasma-colors-white-primary: #FFFFFF;
    --plasma-colors-white-secondary: rgba(255, 255, 255, 0.56);
    --plasma-colors-white-tertiary: rgba(255, 255, 255, 0.28);
    --plasma-colors-black: #080808;
    --plasma-colors-black-primary: #080808;
    --plasma-colors-black-secondary: rgba(8, 8, 8, 0.56);
    --plasma-colors-black-tertiary: rgba(8, 8, 8, 0.28);
    --plasma-colors-dark01: #171717;
    --plasma-colors-dark02: #232323;
    --plasma-colors-dark03: #363636;
    --plasma-colors-transparent: rgba(0, 0, 0, 0);
    --plasma-colors-button-clear: rgba(0, 0, 0, 0);
    --plasma-colors-button-black: #080808;
    --plasma-colors-button-black-secondary: rgba(8, 8, 8, 0.12);
    --plasma-colors-button-black-transparent: rgba(8, 8, 8, 0.56);
    --plasma-colors-button-white: #FFFFFF;
    --plasma-colors-button-white-secondary: rgba(255, 255, 255, 0.12);
    --plasma-colors-text: #080808;
    --plasma-colors-link: #2A72F8;
    --plasma-colors-link-hover: #4D89F9;
    --plasma-colors-link-active: #0859F1;
    --plasma-colors-link-visited: #2364DE;
    --plasma-colors-link-visited-hover: #427AE3;
    --plasma-colors-link-visited-active: #1C54BC;
    --plasma-colors-primary: #080808;
    --plasma-colors-secondary: rgba(8, 8, 8, 0.56);
    --plasma-colors-tertiary: rgba(8, 8, 8, 0.28);
    --plasma-colors-paragraph: rgba(8, 8, 8, 0.8);
    --plasma-colors-inverse: rgba(255, 255, 255, 0.96);
    --plasma-colors-background: #FFFFFF;
    --plasma-colors-background-primary: #FFFFFF;
    --plasma-colors-background-secondary: #FFFFFF;
    --plasma-colors-background-tertiary: #FFFFFF;
    --plasma-colors-input-border: rgba(8, 8, 8, 0.28);
    --plasma-colors-input-border-hover: rgba(8, 8, 8, 0.56);
    --plasma-colors-input-border-focus: #2A72F8;
    --plasma-colors-accent: #2A72F8;
    --plasma-colors-success: #118C28;
    --plasma-colors-warning: #E35502;
    --plasma-colors-critical: #F31B30;
    --plasma-colors-surface-liquid01: rgba(8, 8, 8, 0.02);
    --plasma-colors-surface-liquid02: rgba(8, 8, 8, 0.06);
    --plasma-colors-surface-liquid03: rgba(8, 8, 8, 0.12);
    --plasma-colors-surface-solid01: #FAFAFA;
    --plasma-colors-surface-solid02: #F0F0F0;
    --plasma-colors-surface-solid03: #E1E1E1;
    --plasma-colors-surface-card: #FFFFFF;
    --plasma-colors-button-primary: #2A72F8;
    --plasma-colors-button-primary-hover: #397CF8;
    --plasma-colors-button-primary-active: #1B68F8;
    --plasma-colors-button-secondary: rgba(8, 8, 8, 0.06);
    --plasma-colors-button-secondary-hover: rgba(8, 8, 8, 0.04);
    --plasma-colors-button-secondary-active: rgba(8, 8, 8, 0.08);
    --plasma-colors-button-accent: #2A72F8;
    --plasma-colors-button-success: #118C28;
    --plasma-colors-button-success-hover: #3eaa4d;
    --plasma-colors-button-success-active: #1d9233;
    --plasma-colors-button-warning: #F55D05;
    --plasma-colors-button-warning-hover: #FA650F;
    --plasma-colors-button-warning-active: #E65705;
    --plasma-colors-button-critical: #F31B30;
    --plasma-colors-button-critical-hover: #F42A3E;
    --plasma-colors-button-critical-active: #F20D24;
    --plasma-colors-button-checked: #080808;
    --plasma-colors-button-checked-hover: #171717;
    --plasma-colors-button-checked-hover-color: hsla(0, 0%, 100%, 0.9599999785423279);
    --plasma-colors-button-checked-active: #080808;
    --plasma-colors-button-checked-active-color: rgba(255, 255, 255, 0.6);
    --plasma-colors-button-focused: #2A72F8;
    --plasma-colors-gradient: linear-gradient(45deg, hsla(220.1123595505618, 85.57692307692307%, 59.21568627450981%, 1) 0%, hsla(189.78947368421052, 78.51239669421487%, 52.54901960784314%, 1) 100%);
    --plasma-colors-skeleton-gradient: linear-gradient(90deg, rgba(8, 8, 8, 0.09) 0%, rgba(8, 8, 8, 0.08) 6.25%, rgba(8, 8, 8, 0.05) 12.5%, rgba(8, 8, 8, 0.01) 25%, rgba(8, 8, 8, 0.05) 37.5%, rgba(8, 8, 8, 0.08) 43.75%, rgba(8, 8, 8, 0.09) 50%, rgba(8, 8, 8, 0.08) 56.25%, rgba(8, 8, 8, 0.05) 62.5%, rgba(8, 8, 8, 0.01) 75%, rgba(8, 8, 8, 0.05) 87.5%, rgba(8, 8, 8, 0.08) 93.75%, rgba(8, 8, 8, 0.09) 100%);
    --plasma-colors-skeleton-gradient-lighter: linear-gradient(90deg, rgba(8, 8, 8, 0.36) 0%, rgba(8, 8, 8, 0.32) 6.25%, rgba(8, 8, 8, 0.20) 12.5%, rgba(8, 8, 8, 0.04) 25%, rgba(8, 8, 8, 0.20) 37.5%, rgba(8, 8, 8, 0.32) 43.75%, rgba(8, 8, 8, 0.36) 50%, rgba(8, 8, 8, 0.08) 56.25%, rgba(8, 8, 8, 0.20) 62.5%, rgba(8, 8, 8, 0.04) 75%, rgba(8, 8, 8, 0.20) 87.5%, rgba(8, 8, 8, 0.32) 93.75%, rgba(8, 8, 8, 0.36) 100%);
    --plasma-colors-overlay: rgba(0, 0, 0, 0.8);
    --plasma-colors-overlay-soft: rgba(8, 8, 8, 0.56);
    --plasma-colors-overlay-hard: rgba(8, 8, 8, 0.9);
    --plasma-colors-overlay-blur: rgba(35, 35, 35, 0.2);
    --plasma-colors-dark-overlay-soft: rgba(8, 8, 8, 0.56);
    --plasma-colors-dark-overlay-hard: rgba(8, 8, 8, 0.9);
    --plasma-colors-dark-overlay-blur: rgba(35, 35, 35, 0.2);
    --plasma-colors-light-overlay-soft: rgba(8, 8, 8, 0.56);
    --plasma-colors-light-overlay-hard: rgba(8, 8, 8, 0.9);
    --plasma-colors-light-overlay-blur: rgba(35, 35, 35, 0.2);
    --plasma-colors-inverse-overlay-soft: rgba(8, 8, 8, 0.56);
    --plasma-colors-inverse-overlay-hard: rgba(8, 8, 8, 0.9);
    --plasma-colors-inverse-overlay-blur: rgba(35, 35, 35, 0.2);

    --plasma-outline-size: 0.0625rem;
    --plasma-button-l-height: 3.5rem;
    --plasma-button-l-padding-y: 1rem;
    --plasma-button-l-padding-x: 1.625rem;
    --plasma-button-l-padding-content-x: 1.625rem;
    --plasma-button-l-padding-stretch-x: 1.25rem;
    --plasma-button-l-radius: 1rem;
    --plasma-button-l-radius-circle: 2rem;
    --plasma-button-m-height: 3rem;
    --plasma-button-m-padding-y: 0.75rem;
    --plasma-button-m-padding-x: 1.375rem;
    --plasma-button-m-padding-content-x: 1.5rem;
    --plasma-button-m-padding-stretch-x: 1.25rem;
    --plasma-button-m-radius: 0.75rem;
    --plasma-button-m-radius-circle: 2rem;
    --plasma-button-s-height: 2.5rem;
    --plasma-button-s-padding-y: 0.5rem;
    --plasma-button-s-padding-x: 1.125rem;
    --plasma-button-s-padding-content-x: 1.25rem;
    --plasma-button-s-padding-stretch-x: 1.25rem;
    --plasma-button-s-radius: 0.75rem;
    --plasma-button-s-radius-circle: 1.25rem;
    --plasma-field-helper-text-margin-top: 0.25rem;
    --plasma-field-helper-text-font-family: var(--plasma-typo-body-xs-font-family);
    --plasma-field-helper-text-font-size: var(--plasma-typo-body-xs-font-size);
    --plasma-field-helper-text-font-style: var(--plasma-typo-body-xs-font-style);
    --plasma-field-helper-text-font-weight: var(--plasma-typo-body-xs-font-weight);
    --plasma-field-helper-text-letter-spacing: var(--plasma-typo-body-xs-letter-spacing);
    --plasma-field-helper-text-line-height: var(--plasma-typo-body-xs-line-height);
    --plasma-field-label-margin-bottom: 0.5rem;
    --plasma-field-label-color: var(--plasma-colors-primary);
    --plasma-field-content-margin: 0.75rem;
    --plasma-input-border-width: 1px;
    --plasma-input-border-radius: 0.5rem;
    --plasma-input-l-height: 3rem;
    --plasma-input-l-padding-y: 0.75rem;
    --plasma-input-l-padding-x: 1rem;
    --plasma-input-l-has-label-padding-top: 1.1875rem;
    --plasma-input-l-has-label-padding-bottom: 0.3125rem;
    --plasma-input-l-has-content-padding-left: 2.5rem;
    --plasma-input-l-has-content-padding-right: 2.5rem;
    --plasma-input-m-height: 2.5rem;
    --plasma-input-m-padding-y: 0.5rem;
    --plasma-input-m-padding-x: 1rem;
    --plasma-input-m-has-content-padding-left: 2.5rem;
    --plasma-input-m-has-content-padding-right: 2.5rem;
    --plasma-input-s-height: 2rem;
    --plasma-input-s-padding-y: 0.25rem;
    --plasma-input-s-padding-x: 1rem;
    --plasma-input-s-has-content-padding-left: 2.5rem;
    --plasma-input-s-has-content-padding-right: 2.5rem;

    --plasma-input-font-family: var(--plasma-typo-body-m-font-family);
    --plasma-input-font-size: var(--plasma-typo-body-m-font-size);
    --plasma-input-font-style: var(--plasma-typo-body-m-font-style);
    --plasma-input-font-weight: var(--plasma-typo-body-m-font-weight);
    --plasma-input-letter-spacing: var(--plasma-typo-body-m-letter-spacing);
    --plasma-input-line-height: var(--plasma-typo-body-m-line-height);
    --plasma-input-background-color: var(--plasma-colors-background);
    --plasma-input-color: var(--plasma-colors-primary);
    --plasma-input-caret-color: var(--plasma-colors-accent);
    --plasma-input-placeholder-color: var(--plasma-colors-secondary);
    --plasma-input-success-background-color: var(--plasma-colors-background);
    --plasma-input-success-color: var(--plasma-colors-primary);
    --plasma-input-success-border-color: var(--plasma-colors-success);
    --plasma-input-warning-background-color: var(--plasma-colors-background);
    --plasma-input-warning-color: var(--plasma-colors-primary);
    --plasma-input-warning-border-color: var(--plasma-colors-warning);
    --plasma-input-error-background-color: var(--plasma-colors-background);
    --plasma-input-error-color: var(--plasma-colors-primary);
    --plasma-input-error-border-color: var(--plasma-colors-critical);
    --plasma-input-focus-placeholder-color: var(--plasma-colors-tertiary);
    --plasma-input-label-margin-top: 0.3125rem;
    --plasma-input-label-font-family: var(--plasma-typo-body-xs-font-family);
    --plasma-input-label-font-size: var(--plasma-typo-body-xs-font-size);
    --plasma-input-label-font-style: var(--plasma-typo-body-xs-font-style);
    --plasma-input-label-font-weight: var(--plasma-typo-body-xs-font-weight);
    --plasma-input-label-letter-spacing: var(--plasma-typo-body-xs-letter-spacing);
    --plasma-input-label-line-height: var(--plasma-typo-body-xs-line-height);
    --plasma-input-label-color: var(--plasma-colors-secondary);
    --plasma-field-font-family: var(--plasma-typo-body-m-font-family);
    --plasma-field-font-size: var(--plasma-typo-body-m-font-size);
    --plasma-field-font-style: var(--plasma-typo-body-m-font-style);
    --plasma-field-font-weight: var(--plasma-typo-body-m-font-weight);
    --plasma-field-letter-spacing: var(--plasma-typo-body-m-letter-spacing);
    --plasma-field-line-height: var(--plasma-typo-body-m-line-height);
    --plasma-field-color: var(--plasma-colors-secondary);
    --plasma-field-success-color: var(--plasma-colors-success);
    --plasma-field-warning-color: var(--plasma-colors-warning);
    --plasma-field-error-color: var(--plasma-colors-critical);
    color: #080808;
    background-color: #FFFFFF;
}


/* TYPO */

:root {
      --plasma-typo-headline1-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-headline1-font-weight: 600;
      --plasma-typo-headline1-font-style: normal;
      --plasma-typo-headline1-font-size: 2.5rem;
      --plasma-typo-headline1-letter-spacing: -0.0200em;
      --plasma-typo-headline1-line-height: 2.75rem;
      --plasma-typo-headline2-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-headline2-font-weight: 600;
      --plasma-typo-headline2-font-style: normal;
      --plasma-typo-headline2-font-size: 2rem;
      --plasma-typo-headline2-letter-spacing: -0.0110em;
      --plasma-typo-headline2-line-height: 2.25rem;
      --plasma-typo-headline3-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-headline3-font-weight: 600;
      --plasma-typo-headline3-font-style: normal;
      --plasma-typo-headline3-font-size: 1.5rem;
      --plasma-typo-headline3-letter-spacing: -0.0220em;
      --plasma-typo-headline3-line-height: 1.75rem;
      --plasma-typo-headline4-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-headline4-font-weight: 600;
      --plasma-typo-headline4-font-style: normal;
      --plasma-typo-headline4-font-size: 1.25rem;
      --plasma-typo-headline4-letter-spacing: -0.0250em;
      --plasma-typo-headline4-line-height: 1.5rem;
      --plasma-typo-headline5-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-headline5-font-weight: 600;
      --plasma-typo-headline5-font-style: normal;
      --plasma-typo-headline5-font-size: 1rem;
      --plasma-typo-headline5-letter-spacing: -0.0190em;
      --plasma-typo-headline5-line-height: 1.25rem;
      --plasma-typo-subtitle-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-subtitle-font-weight: 400;
      --plasma-typo-subtitle-font-style: normal;
      --plasma-typo-subtitle-font-size: 1.25rem;
      --plasma-typo-subtitle-letter-spacing: -0.0190em;
      --plasma-typo-subtitle-line-height: 1.5rem;
      --plasma-typo-body1-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-body1-font-weight: 400;
      --plasma-typo-body1-font-style: normal;
      --plasma-typo-body1-font-size: 1rem;
      --plasma-typo-body1-letter-spacing: -0.0190em;
      --plasma-typo-body1-line-height: 1.25rem;
      --plasma-typo-paragraph1-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-paragraph1-font-weight: 400;
      --plasma-typo-paragraph1-font-style: normal;
      --plasma-typo-paragraph1-font-size: 1rem;
      --plasma-typo-paragraph1-letter-spacing: -0.0190em;
      --plasma-typo-paragraph1-line-height: 1.5rem;
      --plasma-typo-footnote1-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-footnote1-font-weight: 500;
      --plasma-typo-footnote1-font-style: normal;
      --plasma-typo-footnote1-font-size: 0.875rem;
      --plasma-typo-footnote1-letter-spacing: -0.0190em;
      --plasma-typo-footnote1-line-height: 1.125rem;
      --plasma-typo-footnote2-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-footnote2-font-weight: 600;
      --plasma-typo-footnote2-font-style: normal;
      --plasma-typo-footnote2-font-size: 0.875rem;
      --plasma-typo-footnote2-letter-spacing: -0.0190em;
      --plasma-typo-footnote2-line-height: 1.125rem;
      --plasma-typo-button1-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-button1-font-weight: 600;
      --plasma-typo-button1-font-style: normal;
      --plasma-typo-button1-font-size: 1rem;
      --plasma-typo-button1-letter-spacing: normal;
      --plasma-typo-button1-line-height: 1.25rem;
      --plasma-typo-button2-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-button2-font-weight: 600;
      --plasma-typo-button2-font-style: normal;
      --plasma-typo-button2-font-size: 0.875rem;
      --plasma-typo-button2-letter-spacing: normal;
      --plasma-typo-button2-line-height: 1rem;
      --plasma-typo-caption-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-caption-font-weight: 500;
      --plasma-typo-caption-font-style: normal;
      --plasma-typo-caption-font-size: 0.75rem;
      --plasma-typo-caption-letter-spacing: -0.0220em;
      --plasma-typo-caption-line-height: 1rem;
      --plasma-typo-underline-font-family: "SB Sans Text", sans-serif;
      --plasma-typo-underline-font-weight: 500;
      --plasma-typo-underline-font-style: normal;
      --plasma-typo-underline-font-size: 0.625rem;
      --plasma-typo-underline-letter-spacing: 0.0125em;
      --plasma-typo-underline-line-height: 0.75rem;
      --plasma-typo-overflow-wrap: break-word;
      --plasma-typo-hyphens: auto;
      font-size: 16px;
}


:root {
  --plasma-typo-display-font-family: 'SB Sans Display', sans-serif;
  --plasma-typo-text-font-family: 'SB Sans Text', sans-serif;
  --plasma-typo-dspl-l-font-family: var(--plasma-typo-display-font-family);
  --plasma-typo-dspl-l-font-style: normal;
  --plasma-typo-dspl-l-letter-spacing: normal;
  --plasma-typo-dspl-m-font-family: var(--plasma-typo-display-font-family);
  --plasma-typo-dspl-m-font-style: normal;
  --plasma-typo-dspl-m-letter-spacing: normal;
  --plasma-typo-dspl-s-font-family: var(--plasma-typo-display-font-family);
  --plasma-typo-dspl-s-font-style: normal;
  --plasma-typo-dspl-s-letter-spacing: normal;
  --plasma-typo-h1-font-family: var(--plasma-typo-display-font-family);
  --plasma-typo-h1-font-style: normal;
  --plasma-typo-h1-letter-spacing: normal;
  --plasma-typo-h2-font-family: var(--plasma-typo-display-font-family);
  --plasma-typo-h2-font-style: normal;
  --plasma-typo-h2-letter-spacing: normal;
  --plasma-typo-h3-font-family: var(--plasma-typo-display-font-family);
  --plasma-typo-h3-font-style: normal;
  --plasma-typo-h3-letter-spacing: normal;
  --plasma-typo-h4-font-family: var(--plasma-typo-display-font-family);
  --plasma-typo-h4-font-style: normal;
  --plasma-typo-h4-letter-spacing: normal;
  --plasma-typo-h5-font-family: var(--plasma-typo-display-font-family);
  --plasma-typo-h5-font-style: normal;
  --plasma-typo-h5-letter-spacing: normal;
  --plasma-typo-body-l-font-family: var(--plasma-typo-text-font-family);
  --plasma-typo-body-l-font-style: normal;
  --plasma-typo-body-l-letter-spacing: -0.02em;
  --plasma-typo-body-m-font-family: var(--plasma-typo-text-font-family);
  --plasma-typo-body-m-font-style: normal;
  --plasma-typo-body-m-letter-spacing: -0.02em;
  --plasma-typo-body-s-font-family: var(--plasma-typo-text-font-family);
  --plasma-typo-body-s-font-style: normal;
  --plasma-typo-body-s-letter-spacing: -0.02em;
  --plasma-typo-body-xs-font-family: var(--plasma-typo-text-font-family);
  --plasma-typo-body-xs-font-style: normal;
  --plasma-typo-body-xs-letter-spacing: -0.02em;
  --plasma-typo-body-xxs-font-family: var(--plasma-typo-text-font-family);
  --plasma-typo-body-xxs-font-style: normal;
  --plasma-typo-body-xxs-letter-spacing: -0.02em;
  --plasma-typo-text-l-font-family: var(--plasma-typo-text-font-family);
  --plasma-typo-text-l-font-style: normal;
  --plasma-typo-text-l-letter-spacing: -0.02em;
  --plasma-typo-text-m-font-family: var(--plasma-typo-text-font-family);
  --plasma-typo-text-m-font-style: normal;
  --plasma-typo-text-m-letter-spacing: -0.02em;
  --plasma-typo-text-s-font-family: var(--plasma-typo-text-font-family);
  --plasma-typo-text-s-font-style: normal;
  --plasma-typo-text-s-letter-spacing: -0.02em;
  --plasma-typo-text-xs-font-family: var(--plasma-typo-text-font-family);
  --plasma-typo-text-xs-font-style: normal;
  --plasma-typo-text-xs-letter-spacing: -0.02em;
  font-size: 16px;
  --plasma-typo-overflow-wrap: break-word;
  --plasma-typo-hyphens: auto;
}


:root {
  --plasma-typo-dspl-l-font-size: 7rem;
  --plasma-typo-dspl-l-font-weight: 300;
  --plasma-typo-dspl-l-line-height: 7rem;
  --plasma-typo-dspl-l-bold-font-size: 7rem;
  --plasma-typo-dspl-l-bold-font-weight: 600;
  --plasma-typo-dspl-l-bold-line-height: 7rem;
  --plasma-typo-dspl-m-font-size: 4.5rem;
  --plasma-typo-dspl-m-font-weight: 300;
  --plasma-typo-dspl-m-line-height: 4.75rem;
  --plasma-typo-dspl-m-bold-font-size: 4.5rem;
  --plasma-typo-dspl-m-bold-font-weight: 600;
  --plasma-typo-dspl-m-bold-line-height: 4.75rem;
  --plasma-typo-dspl-s-font-size: 3rem;
  --plasma-typo-dspl-s-font-weight: 300;
  --plasma-typo-dspl-s-line-height: 3.375rem;
  --plasma-typo-dspl-s-bold-font-size: 3rem;
  --plasma-typo-dspl-s-bold-font-weight: 600;
  --plasma-typo-dspl-s-bold-line-height: 3.375rem;
  --plasma-typo-h1-font-size: 2.5rem;
  --plasma-typo-h1-font-weight: 400;
  --plasma-typo-h1-line-height: 2.875rem;
  --plasma-typo-h1-bold-font-size: 2.5rem;
  --plasma-typo-h1-bold-font-weight: 600;
  --plasma-typo-h1-bold-line-height: 2.875rem;
  --plasma-typo-h2-font-size: 1.75rem;
  --plasma-typo-h2-font-weight: 400;
  --plasma-typo-h2-line-height: 2.125rem;
  --plasma-typo-h2-bold-font-size: 1.75rem;
  --plasma-typo-h2-bold-font-weight: 600;
  --plasma-typo-h2-bold-line-height: 2.125rem;
  --plasma-typo-h3-font-size: 1.25rem;
  --plasma-typo-h3-font-weight: 400;
  --plasma-typo-h3-line-height: 1.625rem;
  --plasma-typo-h3-bold-font-size: 1.25rem;
  --plasma-typo-h3-bold-font-weight: 600;
  --plasma-typo-h3-bold-line-height: 1.625rem;
  --plasma-typo-h4-font-size: 1.125rem;
  --plasma-typo-h4-font-weight: 400;
  --plasma-typo-h4-line-height: 1.5rem;
  --plasma-typo-h4-bold-font-size: 1.125rem;
  --plasma-typo-h4-bold-font-weight: 600;
  --plasma-typo-h4-bold-line-height: 1.5rem;
  --plasma-typo-h5-font-size: 1rem;
  --plasma-typo-h5-font-weight: 400;
  --plasma-typo-h5-line-height: 1.375rem;
  --plasma-typo-h5-bold-font-size: 1rem;
  --plasma-typo-h5-bold-font-weight: 600;
  --plasma-typo-h5-bold-line-height: 1.375rem;
  --plasma-typo-body-l-font-size: 1.125rem;
  --plasma-typo-body-l-font-weight: 400;
  --plasma-typo-body-l-line-height: 1.375rem;
  --plasma-typo-body-l-bold-font-size: 1.125rem;
  --plasma-typo-body-l-bold-font-weight: 600;
  --plasma-typo-body-l-bold-line-height: 1.375rem;
  --plasma-typo-body-m-font-size: 1rem;
  --plasma-typo-body-m-font-weight: 400;
  --plasma-typo-body-m-line-height: 1.25rem;
  --plasma-typo-body-m-bold-font-size: 1rem;
  --plasma-typo-body-m-bold-font-weight: 600;
  --plasma-typo-body-m-bold-line-height: 1.25rem;
  --plasma-typo-body-s-font-size: 0.875rem;
  --plasma-typo-body-s-font-weight: 400;
  --plasma-typo-body-s-line-height: 1.125rem;
  --plasma-typo-body-s-bold-font-size: 0.875rem;
  --plasma-typo-body-s-bold-font-weight: 600;
  --plasma-typo-body-s-bold-line-height: 1.125rem;
  --plasma-typo-body-xs-font-size: 0.75rem;
  --plasma-typo-body-xs-font-weight: 400;
  --plasma-typo-body-xs-line-height: 0.875rem;
  --plasma-typo-body-xs-bold-font-size: 0.75rem;
  --plasma-typo-body-xs-bold-font-weight: 600;
  --plasma-typo-body-xs-bold-line-height: 0.875rem;
  --plasma-typo-body-xxs-font-size: 0.625rem;
  --plasma-typo-body-xxs-font-weight: 400;
  --plasma-typo-body-xxs-line-height: 0.75rem;
  --plasma-typo-body-xxs-bold-font-size: 0.625rem;
  --plasma-typo-body-xxs-bold-font-weight: 600;
  --plasma-typo-body-xxs-bold-line-height: 0.75rem;
  --plasma-typo-text-l-font-size: 1.25rem;
  --plasma-typo-text-l-font-weight: 400;
  --plasma-typo-text-l-line-height: 1.75rem;
  --plasma-typo-text-l-bold-font-size: 1.25rem;
  --plasma-typo-text-l-bold-font-weight: 600;
  --plasma-typo-text-l-bold-line-height: 1.75rem;
  --plasma-typo-text-m-font-size: 1rem;
  --plasma-typo-text-m-font-weight: 400;
  --plasma-typo-text-m-line-height: 1.5rem;
  --plasma-typo-text-m-bold-font-size: 1rem;
  --plasma-typo-text-m-bold-font-weight: 600;
  --plasma-typo-text-m-bold-line-height: 1.5rem;
  --plasma-typo-text-s-font-size: 0.875rem;
  --plasma-typo-text-s-font-weight: 400;
  --plasma-typo-text-s-line-height: 1.25rem;
  --plasma-typo-text-s-bold-font-size: 0.875rem;
  --plasma-typo-text-s-bold-font-weight: 600;
  --plasma-typo-text-s-bold-line-height: 1.25rem;
  --plasma-typo-text-xs-font-size: 0.75rem;
  --plasma-typo-text-xs-font-weight: 400;
  --plasma-typo-text-xs-line-height: 1rem;
  --plasma-typo-text-xs-bold-font-size: 0.75rem;
  --plasma-typo-text-xs-bold-font-weight: 600;
  --plasma-typo-text-xs-bold-line-height: 1rem;
}

/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
