.m {
    --plasma-popover-border-radius: 1rem;
    --plasma-popover-padding: 0.75rem 0.5rem 0.5rem;
    --plasma-popover-tail-width: 20px;
    --plasma-popover-tail-height: 8px;
    --plasma-popover-tail-side-curvature: 0%;
}
