.default {
    --plasma-popover-background-color: var(--surface-solid-card);
    --plasma-popover-box-shadow: var(--shadow-down-soft-m);
}

.accent {
    --plasma-popover-background-color: var(--surface-accent);
    --plasma-popover-box-shadow: var(--shadow-down-soft-m);
}
