{
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/camelcase": "off",
        "no-bitwise": "off",
        "func-names": "off",
        "no-return-assign": "off",
        "generator-star-spacing": "off",
        "no-await-in-loop": "off",
        "no-continue": "off"
    }
}
