@salutejs:registry=https://registry.npmjs.org/

save-exact=true

# disabled auto-installing peer dependencies
legacy-peer-deps=true

# for specify Node, NPM Version to use
engine-strict=true

//registry.npmjs.org/:_authToken=${NPM_REGISTRY_TOKEN}
