name: ESLint

on:
    merge_group:
    pull_request:
        branches:
            - dev
            - master

concurrency:
    # New commit on branch cancels running workflows of the same branch
    group: ${{ github.workflow }}-${{ github.head_ref }}
    cancel-in-progress: true

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Check disk usage before clear
              run: df -h

            - name: Free disk space
              run: |
                sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
                sudo docker image prune --all --force
                sudo docker builder prune -a

            - name: Check disk usage after clear
              run: df -h

            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  show-progress: false

            - name: Prepare environment
              uses: ./.github/actions/prepare-environment

            # INFO: Для корректной работы ESLint не нужно build typings, etc.
            # INFO: Только установить пакеты и сделать symlink
            - name: Lerna bootstrap
              run: npx lerna bootstrap --ignore-scripts

            - name: Check disk usage after bootstrap
              run: df -h

            - name: Lint
              run: npm run lint
