name: Unit tests

on:
  workflow_dispatch:

concurrency:
  # New commit on branch cancels running workflows of the same branch
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

env:
  LERNA_IGNORE_LIST: "@salutejs/plasma-{cy-utils,sb-utils}"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          show-progress: false

      - name: Prepare environment
        uses: ./.github/actions/prepare-environment

      - name: Lerna bootstrap
        run: npx lerna bootstrap --ignore=${{env.LERNA_IGNORE_LIST}}

      - name: Unit tests
        run: npm run test
