name: Unit tests

on:
    workflow_dispatch:

concurrency:
  # New commit on branch cancels running workflows of the same branch
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

env:
  LERNA_IGNORE_LIST: "@salutejs/plasma-{cy-utils,sb-utils}"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          show-progress: false

      - name: Prepare environment
        uses: ./.github/actions/prepare-environment

      - name: Lerna bootstrap
        run: npx lerna bootstrap --ignore=${{env.LERNA_IGNORE_LIST}}

      - name: Unit tests
        run: npm run test

      - name: Setup React 17
        run: |
          npm i --no-progress --no-audit react@17 react-dom@17 @types/react@17.0.40 @types/react-dom@17 --prefix="./packages/plasma-ui"
          npm i --no-progress --no-audit react@17 react-dom@17 @types/react@17.0.40 @types/react-dom@17 --prefix="./packages/plasma-b2c"
          npm i --no-progress --no-audit react@17 react-dom@17 @types/react@17.0.40 @types/react-dom@17 --prefix="./packages/plasma-web"

      - name: Lerna bootstrap by scope
        run: npx lerna bootstrap --scope=@salutejs/plasma-{ui,web,b2c,hope,new-hope,themes,core,icons}

      - name: Unit tests for React 17
        run: npm run test -- --scope=@salutejs/plasma-{ui,web,b2c}
