name: Cypress component testing

on:
  merge_group:
  pull_request:
    branches:
      - master
      - dev

concurrency:
  # New commit on branch cancels running workflows of the same branch
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  scope:
      uses: ./.github/workflows/change-detection.yml
      secrets: inherit

  cypress:
    needs: scope
    if: ${{ needs.scope.outputs.HAS_SCOPE == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        scope: ${{fromJson(needs.scope.outputs.SCOPE)}}

    uses: ./.github/workflows/cypress-common.yml
    with:
      scope: ${{ matrix.scope }}
    secrets: inherit

  cypress-react-17:
    needs: scope
    if: ${{ needs.scope.outputs.HAS_SCOPE == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        scope: ${{fromJson(needs.scope.outputs.SCOPE)}}

    uses: ./.github/workflows/cypress-common.yml
    with:
      scope: ${{ matrix.scope }}
      with-react-17: true
    secrets: inherit

