name: Cypress component testing

on:
  pull_request:
    branches:
      - master
      - dev

concurrency:
  # New commit on branch cancels running workflows of the same branch
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  state:
    # cypress checks for "release branch" run in cypress-release-branch.yml file
    if: ${{ !startsWith(github.head_ref, 'release') }}
    uses: ./.github/workflows/change-detection.yml
    secrets: inherit

  find_components:
    needs: state
    if: ${{ fromJSON(needs.state.outputs.STATE).HAS_PACKAGES_CYPRESS_RUN }}
    runs-on: ubuntu-latest
    outputs:
      components: ${{ steps.find-components.outputs.components }}
    steps:
      -   name: Checkout repository
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

      -   name: Setup Node.js
          uses: actions/setup-node@v6
          with:
              node-version-file: '.nvmrc'
              cache: 'npm'

      -   name: Install dependencies
          run: |
              cd .github/actions/find-changed-components
              npm ci

      - name: Find changed components
        id: find-components
        uses: ./.github/actions/find-changed-components

  cypress_plasma:
    needs: [state, find_components]
    if: ${{ fromJSON(needs.state.outputs.STATE).HAS_PACKAGES_CYPRESS_RUN }}
    strategy:
      fail-fast: false
      matrix:
        # [Note]
        # Важно что бы массив был со значениями, где `""` экранируются, например -> ["\"b2c\""]
        # Можно для этого использовать JSON.stringify()
        scope: ${{ fromJson(needs.state.outputs.STATE).PACKAGES_CYPRESS_RUN_PLASMA }}
        
    uses: ./.github/workflows/cypress-common.yml
    with:
      scope: ${{ matrix.scope }}
      prefix: "plasma"
      components: ${{ needs.find_components.outputs.components }}
    secrets: inherit

  cypress_sdds:
    needs: [state, find_components]
    if: ${{ fromJSON(needs.state.outputs.STATE).HAS_PACKAGES_CYPRESS_RUN }}
    strategy:
      fail-fast: false
      matrix:
        scope: ${{ fromJson(needs.state.outputs.STATE).PACKAGES_CYPRESS_RUN_SDDS }}
        
    uses: ./.github/workflows/cypress-common.yml
    with:
      scope: ${{ matrix.scope }}
      prefix: "sdds"
      components: ${{ needs.find_components.outputs.components }}
    secrets: inherit
