#name: Cypress component testing react-17
#
#on:
#  push:
#
#concurrency:
#  # New commit on branch cancels running workflows of the same branch
#  group: ${{ github.workflow }}-${{ github.ref }}
#  cancel-in-progress: true
#
#jobs:
#  cypress:
#    runs-on: ubuntu-latest
#    env:
#      NPM_REGISTRY_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
#      COVERAGE: true
#    steps:
#    - uses: actions/checkout@v2
#
#    - name: Setup Node.js
#      uses: actions/setup-node@v3
#      with:
#        node-version-file: '.nvmrc'
#
#    - name: Cache node modules
#      id: cache-npm
#      uses: actions/cache@v3
#      with:
#        path: node_modules
#        key: npm-${{ hashFiles('package-lock.json') }}
#        restore-keys: |
#          npm-${{ hashFiles('package-lock.json') }}
#          npm-
#
#    - name: Setup packages
#      if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
#      run: |
#        npm ci --no-progress
#        npm i --no-progress react@17 react-dom@17 --prefix="./packages/plasma-ui"
#        npm i --no-progress react@17 react-dom@17 --prefix="./packages/plasma-temple"
#        npm i --no-progress react@17 react-dom@17 --prefix="./packages/plasma-b2c"
#        npm i --no-progress react@17 react-dom@17 --prefix="./packages/plasma-web"
#
#    - name: Lerna bootstrap
#      run: npx lerna bootstrap
#
#    - name: Run Cypress CT for Plasma UI
#      if: ${{ always() }}
#      run: |
#        npm run cy:ui:run-ct
#
#    - name: Run Cypress CT for Plasma Web
#      if: ${{ always() }}
#      run: |
#        npm run cy:web:run-ct
#
#    - name: Run Cypress CT for Plasma Web B2B
#      if: ${{ always() }}
#      run: |
#        npm run cy:b2b:run-ct
#
#    - name: Run Cypress CT for Plasma Web B2C
#      if: ${{ always() }}
#      run: |
#        npm run cy:b2c:run-ct
#
#    - name: Run Cypress CT for Plasma temple
#      if: ${{ always() }}
#      run: |
#        npm run cy:temple:run-ct
#
#    - name: Save artifacts
#      if: ${{ failure() }}
#      uses: actions/upload-artifact@v2
#      with:
#        name: Test Artifacts
#        path: /home/runner/work/plasma/plasma/cypress
#
#    - name: Code Coverage UI
#      if: ${{ always() }}
#      uses: codecov/codecov-action@v2
#      with:
#        directory: cypress/plasma-ui-coverage
#        flags: plasma-ui,plasma-core
#
#    - name: Code Coverage WEB
#      if: ${{ always() }}
#      uses: codecov/codecov-action@v2
#      with:
#        directory: cypress/plasma-web-coverage
#        flags: plasma-web,plasma-core
#
#    - name: Code Coverage B2C
#      if: ${{ always() }}
#      uses: codecov/codecov-action@v2
#      with:
#        directory: cypress/plasma-b2c-coverage
#        flags: plasma-b2c,plasma-core
#
#    - name: Code Covarege Temple
#      if: ${{ always() }}
#      uses: codecov/codecov-action@v2
#      with:
#        directory: cypress/plasma-temple-coverage
#        flags: plasma-temple
