name: Cypress reusable workflow

on:
  workflow_call:
    inputs:
      scope:
        description: 'scope name'
        required: true
        type: string
      prefix:
        description: 'package prefix (plasma or sdds)'
        required: true
        type: string
      with-artifacts:
        type: boolean
        default: false
      components:
        description: 'Comma-separated list of components to test'
        required: false
        type: string
        default: ''

jobs:
  run:
    if: ${{ inputs.scope != '' }}
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      NPM_REGISTRY_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
      COVERAGE: true

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/prepare-environment

      - name: Set default scope
        run: |
          if [ "${{ inputs.prefix }}" = "plasma" ]; then
            echo "SCOPE={${{ inputs.scope }},core,hope,new-hope,themes,icons,typo,tokens,tokens-b2c,tokens-b2b,tokens-web,tokens-utils,cy-utils}" >> $GITHUB_ENV
          else
            echo "SCOPE={core,new-hope,typo,icons,cy-utils}" >> $GITHUB_ENV
          fi

      - name: Install dependencies for check-test-files-exist
        if: ${{ inputs.components }}
        run: |
            cd .github/actions/check-test-files-exist
            npm ci

      - name: Check test files exist
        if: ${{ inputs.components }}
        id: check-test-files-exist
        uses: ./.github/actions/check-test-files-exist
        with:
          prefix: ${{ inputs.prefix }}
          scope: ${{ inputs.scope }}
          components: ${{ inputs.components }}

      - name: Lerna bootstrap
        if: ${{ (inputs.components == '' || steps.check-test-files-exist.outputs.tests-exist == 'true') }}
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 45
          max_attempts: 2
          retry_on: error
          command: |
            if [ "${{ inputs.prefix }}" = "plasma" ]; then
              npx lerna bootstrap --scope=@salutejs/${{ inputs.prefix }}-${{env.SCOPE}} --scope="@salutejs/core-themes"
            else
              npx lerna bootstrap --scope=@salutejs/plasma-${{env.SCOPE}} --scope="@salutejs/core-themes" --scope="@salutejs/${{ inputs.prefix }}-{${{ inputs.scope }},themes}"
            fi

      - name: Run Cypress CT for Plasma ${{ inputs.scope }}
        if: ${{ success() }}
        run: |
          if [ -n "${{ inputs.components }}" ] && [ "${{ steps.check-test-files-exist.outputs.tests-exist }}" = "true" ]; then
            echo "Running Cypress for specific components: ${{ inputs.components }}"
            npm run cy:${{ inputs.scope }}:run --components="${{ inputs.components }}" --webpack_cache_enabled=true
          elif [ -z "${{ inputs.components }}" ]; then
            echo "Running Cypress for all components"
            npm run cy:${{ inputs.scope }}:run --webpack_cache_enabled=true
          else
              echo "Skipping Cypress: No test files found for specified components"
          fi

      - name: Reorganize diff artifacts
        if: ${{ failure() || inputs.with-artifacts }}
        run: |
          mkdir -p /tmp/artifacts
            find /home/runner/work/plasma/plasma/cypress/snapshots -name "__diff_output__" -type d | while read dir; do
            # Извлекаем package name из пути
            package=$(echo "$dir" | sed 's|.*/snapshots/\([^/]*\)/.*|\1|')

            # Проверяем, содержит ли путь /components/ и извлекаем component name
            if [[ "$dir" == *"/components/"* ]]; then
              component=$(echo "$dir" | sed 's|.*/components/\([^/]*\)/.*|\1|')
            else
              # Если нет /components/, берем последнюю значимую часть пути перед __diff_output__
              component=$(echo "$dir" | sed 's|/__diff_output__$||' | sed 's|.*/||')
            fi

            target_dir="/tmp/artifacts/${package}/${component}"
            mkdir -p "$target_dir"

            cp "$dir"/* "$target_dir"/ 2>/dev/null || true
          done

      - name: Save artifacts
        if: ${{ failure() || inputs.with-artifacts }}
        uses: actions/upload-artifact@v4
        with:
          name: Failures_Tests_Artifact_${{ inputs.scope }}_
          path: /tmp/artifacts/
          overwrite: true
