name: Cypress component testing by schedule every day at midnight

on:
  schedule:
    - cron: 0 0 * * *

jobs:
  cypress_plasma:
    name: "Cypress for plasma packages"
    strategy:
      fail-fast: false
      matrix:
        scope: [web,b2c,ui,giga]

    uses: ./.github/workflows/cypress-common.yml
    with:
      scope: ${{ matrix.scope }}
      prefix: "plasma"
    secrets: inherit

  cypress_sdds:
    name: "Cypress for sdds packages"
    strategy:
      fail-fast: false
      matrix:
        scope: [cs,insol]

    uses: ./.github/workflows/cypress-common.yml
    with:
      scope: ${{ matrix.scope }}
      prefix: "sdds"
    secrets: inherit
