name: Cypress component testing by schedule

on:
  schedule:
    - cron: 0 0 * * SUN

jobs:
  cypress_plasma:
    strategy:
      fail-fast: false
      matrix:
        scope: [web,b2c,ui,giga]

    uses: ./.github/workflows/cypress-common.yml
    with:
      scope: ${{ matrix.scope }}
      prefix: "plasma"
    secrets: inherit

  cypress_plasma-react-17:
    strategy:
      fail-fast: false
      matrix:
        scope: [web,b2c,ui,giga]

    uses: ./.github/workflows/cypress-common.yml
    with:
      scope: ${{ matrix.scope }}
      prefix: "plasma"
      with-react-17: true
    secrets: inherit

  cypress_sdds:
    strategy:
      fail-fast: false
      matrix:
        scope: [cs,insol]

    uses: ./.github/workflows/cypress-common.yml
    with:
      scope: ${{ matrix.scope }}
      prefix: "sdds"
    secrets: inherit

  cypress_sdds-react-17:
    strategy:
      fail-fast: false
      matrix:
        scope: [cs]

    uses: ./.github/workflows/cypress-common.yml
    with:
      scope: ${{ matrix.scope }}
      prefix: "sdds"
      with-react-17: true
      with-artifacts: true
    secrets: inherit

