name: Deploy documentation artefacts to "demo" stage [dev branch]

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      PREFIX: 'dev'
    steps:
      - uses: actions/checkout@v4
        with:
          show-progress: false
          
      - name: Prepare environment
        uses: ./.github/actions/prepare-environment

      - name: Lerna bootstrap
        run: npx lerna bootstrap

      - name: Prepare directories
        run: |
          mkdir -p s3_build

      - name: Plasma Website
        run: |
          npm run build --prefix="./website/plasma-website"
          cp -R ./website/plasma-website/build/. ./s3_build

      - name: Plasma UI Docs
        run: |
          npm run build --prefix="./website/plasma-ui-docs"
          cp -R ./website/plasma-ui-docs/build ./s3_build/ui

      - name: Plasma Web Docs
        run: |
          npm run build --prefix="./website/plasma-web-docs"
          cp -R ./website/plasma-web-docs/build ./s3_build/web
          
      - name: Plasma B2C Docs
        run: |
          npm run build --prefix="./website/plasma-b2c-docs"
          cp -R ./website/plasma-b2c-docs/build ./s3_build/b2c

      - name: SDDS SERV Docs
        run: |
          npm run build --prefix="./website/sdds-serv-docs"
          cp -R ./website/sdds-serv-docs/build ./s3_build/sdds-serv

      - name: SDDS CS Docs
        run: |
          npm run build --prefix="./website/sdds-cs-docs"
          cp -R ./website/sdds-cs-docs/build ./s3_build/sdds-cs

      - name: SDDS DFA Docs
        run: |
          npm run build --prefix="./website/sdds-dfa-docs"
          cp -R ./website/sdds-dfa-docs/build ./s3_build/sdds-dfa
 
      - name: Plasma UI Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-ui"
          cp -R ./packages/plasma-ui/build-sb ./s3_build/ui-storybook

      - name: Plasma Web Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-web"
          cp -R ./packages/plasma-web/build-sb ./s3_build/web-storybook

      - name: Plasma B2C Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-b2c"
          cp -R ./packages/plasma-b2c/build-sb ./s3_build/b2c-storybook
          
      - name: Plasma "ASDK" Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-asdk"
          cp -R ./packages/plasma-asdk/build-sb ./s3_build/asdk-storybook
          
      - name: Plasma "New-hope" Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-new-hope"
          cp -R ./packages/plasma-new-hope/build-sb ./s3_build/new-hope-storybook
        
      - name: Plasma "SDDS SERV" Storybook
        run: |
          npm run storybook:build --prefix="./packages/sdds-serv"
          cp -R ./packages/sdds-serv/build-sb ./s3_build/sdds-serv-storybook

      - name: Plasma "SDDS CS" Storybook
        run: |
          npm run storybook:build --prefix="./packages/sdds-cs"
          cp -R ./packages/sdds-cs/build-sb ./s3_build/sdds-cs-storybook

      - name: Plasma "SDDS DFA" Storybook
        run: |
          npm run storybook:build --prefix="./packages/sdds-dfa"
          cp -R ./packages/sdds-dfa/build-sb ./s3_build/sdds-dfa-storybook

      - name: Install s3cmd
        run: pip3 install s3cmd

      - name: Upload to S3 documentation artefacts
        run: >
          s3cmd
          --access_key ${{ secrets.AWS_ACCESS_KEY_ID }}
          --secret_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          --host ${{ secrets.AWS_ENDPOINT }}
          --host-bucket ${{ secrets.AWS_ENDPOINT }}
          --bucket-location ${{ secrets.AWS_REGION }}
          --signature-v2
          --delete-removed
          --no-mime-magic
          sync
          ./s3_build/
          s3://${{ secrets.AWS_S3_BUCKET_2 }}/dev/
