name: Deploy documentations artefacts [PROD]

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Release"]
    branches: [master]
    types:
      - completed

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      # [NOTE]: В проекте default branch - dev, что бы правильно собрать
      # актуальную версию для branch master, нужно указать ref = 'master'
      - uses: actions/checkout@v4
      # [DOC]: About REF. The branch, tag or SHA to checkout. When checking out the repository that
      # triggered a workflow, this defaults to the reference or SHA for that event.
      # Otherwise, **uses the default branch**.
      # [DOC]: Last commit on default branch
        with:
          ref: 'master'
          show-progress: false

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - name: Prepare environment
        uses: ./.github/actions/prepare-environment

      - name: Lerna bootstrap
        run: |
         export NODE_OPTIONS="--max_old_space_size=4096"
         npx lerna bootstrap

      - name: Prepare directories
        run: |
          mkdir -p s3_build s3_build_sb

      - name: Plasma Website
        run: |
          export NODE_OPTIONS="--max_old_space_size=4096"
          npm run build --prefix="./website/plasma-website"
          cp -R ./website/plasma-website/build ./s3_build/next-${{ github.sha }}

      - name: Plasma UI Docs
        run: |
          npm run build --prefix="./website/plasma-ui-docs"
          cp -R ./website/plasma-ui-docs/build ./s3_build/next-${{ github.sha }}/ui

      - name: Plasma Web Docs
        run: |
          export NODE_OPTIONS="--max_old_space_size=4096"
          npm run build --prefix="./website/plasma-web-docs"
          cp -R ./website/plasma-web-docs/build ./s3_build/next-${{ github.sha }}/web

      - name: Plasma B2C Docs
        run: |
          export NODE_OPTIONS="--max_old_space_size=4096"
          npm run build --prefix="./website/plasma-b2c-docs"
          cp -R ./website/plasma-b2c-docs/build ./s3_build/next-${{ github.sha }}/b2c

      - name: SDDS-SERV Docs
        run: |
          export NODE_OPTIONS="--max_old_space_size=4096"
          npm run build --prefix="./website/sdds-serv-docs"
          cp -R ./website/sdds-serv-docs/build ./s3_build/next-${{ github.sha }}/sdds-serv

      - name: SDDS-CS Docs
        run: |
          export NODE_OPTIONS="--max_old_space_size=4096"
          npm run build --prefix="./website/sdds-cs-docs"
          cp -R ./website/sdds-cs-docs/build ./s3_build/next-${{ github.sha }}/sdds-cs

      - name: SDDS-DFA Docs
        run: |
          npm run build --prefix="./website/sdds-dfa-docs"
          cp -R ./website/sdds-dfa-docs/build ./s3_build/next-${{ github.sha }}/sdds-dfa

      - name: SDDS-INSOL Docs
        run: |
          npm run build --prefix="./website/sdds-insol-docs"
          cp -R ./website/sdds-insol-docs/build ./s3_build/next-${{ github.sha }}/sdds-insol

      - name: Plasma UI Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-ui"
          cp -R ./packages/plasma-ui/build-sb ./s3_build_sb/ui-storybook

      - name: Plasma Web Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-web"
          cp -R ./packages/plasma-web/build-sb ./s3_build_sb/web-storybook

      - name: Plasma B2C Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-b2c"
          cp -R ./packages/plasma-b2c/build-sb ./s3_build_sb/b2c-storybook

      - name: Plasma "ASDK" Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-asdk"
          cp -R ./packages/plasma-asdk/build-sb ./s3_build_sb/asdk-storybook

      - name: Plasma "New-hope" Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-new-hope"
          cp -R ./packages/plasma-new-hope/build-sb ./s3_build_sb/new-hope-storybook

      - name: Plasma "SDDS SERV" Storybook
        run: |
          npm run storybook:build --prefix="./packages/sdds-serv"
          cp -R ./packages/sdds-serv/build-sb ./s3_build_sb/sdds-serv-storybook

      - name: Plasma "SDDS DFA" Storybook
        run: |
          npm run storybook:build --prefix="./packages/sdds-dfa"
          cp -R ./packages/sdds-dfa/build-sb ./s3_build_sb/sdds-dfa-storybook

      - name: Plasma "SDDS CS" Storybook
        run: |
          npm run storybook:build --prefix="./packages/sdds-cs"
          cp -R ./packages/sdds-cs/build-sb ./s3_build_sb/sdds-cs-storybook

      - name: Plasma "SDDS FinPortal" Storybook
        run: |
          npm run storybook:build --prefix="./packages/sdds-finportal"
          cp -R ./packages/sdds-finportal/build-sb ./s3_build_sb/sdds-finportal-storybook

      - name: Plasma "SDDS INSOL" Storybook
        run: |
          npm run storybook:build --prefix="./packages/sdds-insol"
          cp -R ./packages/sdds-insol/build-sb ./s3_build_sb/sdds-insol-storybook
