name: PR Documentation and Storybook

on:
  pull_request:
    branches:
      - dev
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      NPM_REGISTRY_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
      PR_NAME: pr-${{ github.event.number }}
      ICONS_PUBLIC_URL: /icons
    steps:
      - uses: actions/checkout@v2

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: npm-deps-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            npm-deps-${{ hashFiles('package-lock.json') }}

      - name: Setup packages
        run: npm ci --no-progress

      - name: Lerna bootstrap
        run: npx lerna bootstrap

      - name: Lint
        run: npm run lint

      - name: Prepare directory
        run: |
          mkdir s3_build

      - name: Plasma Website
        run: |
          npm run build --prefix="./website/plasma-website"
          cp -R ./website/plasma-website/build ./s3_build/${PR_NAME}

      - name: Plasma UI Docs
        run: |
          npm run build --prefix="./website/plasma-ui-docs"
          cp -R ./website/plasma-ui-docs/build ./s3_build/${PR_NAME}/ui

      - name: Plasma Web Docs
        run: |
          npm run build --prefix="./website/plasma-web-docs"
          cp -R ./website/plasma-web-docs/build ./s3_build/${PR_NAME}/web

      - name: Plasma Web Temple
        run: |
          npm run build --prefix="./website/plasma-temple-docs"
          cp -R ./website/plasma-temple-docs/build ./s3_build/${PR_NAME}/temple

      - name: Plasma UI Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-ui"
          cp -R ./packages/plasma-ui/build-sb ./s3_build/${PR_NAME}/ui-storybook

      - name: Plasma Web Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-web"
          cp -R ./packages/plasma-web/build-sb ./s3_build/${PR_NAME}/web-storybook

      - name: Plasma B2C Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-b2c"
          cp -R ./packages/plasma-b2c/build-sb ./s3_build/${PR_NAME}/b2c-storybook

      - name: Plasma Temple Storybook
        run: |
          npm run storybook:build --prefix="./packages/plasma-temple"
          cp -R ./packages/plasma-temple/build-sb ./s3_build/${PR_NAME}/temple-storybook

      - name: Install s3cmd
        run: |
          pip3 install s3cmd

      - name: s3 Upload builds
        run: >
          s3cmd
          --access_key ${{ secrets.AWS_ACCESS_KEY_ID }}
          --secret_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          --host ${{ secrets.AWS_ENDPOINT }}
          --host-bucket ${{ secrets.AWS_ENDPOINT }}
          --bucket-location ${{ secrets.AWS_REGION }}
          --signature-v2
          --delete-removed
          --no-mime-magic
          sync
          ./s3_build/${PR_NAME}/
          s3://${{ secrets.AWS_S3_BUCKET_2 }}/pr/${PR_NAME}/

      - name: Post success comment
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GH_TOKEN}}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `Documentation preview deployed!
              
              website: http://plasma.sberdevices.ru/pr/pr-${context.issue.number}/
              ui storybook: http://plasma.sberdevices.ru/pr/pr-${context.issue.number}/ui-storybook/
              web storybook: http://plasma.sberdevices.ru/pr/pr-${context.issue.number}/web-storybook/
              b2c storybook: http://plasma.sberdevices.ru/pr/pr-${context.issue.number}/b2c-storybook/
              temple storybook: http://plasma.sberdevices.ru/pr/pr-${context.issue.number}/temple-storybook/
              `
            })
