name: Component Performance Testing (Main)

on:
  workflow_run:
    workflows: ["Release"]
    branches: [master, rc]
    types:
      - completed

jobs:
  perftest:
    runs-on: ubuntu-latest
    env:
      NPM_REGISTRY_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: npm-deps-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            npm-deps-${{ hashFiles('package-lock.json') }}

      - name: Setup packages
        run: |
          npm ci
          npx lerna bootstrap

      - name: Use Node.js 16.15.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.15.x

      - name: Run performance test
        run: |
          npm run perftool:test --prefix="./packages/plasma-ui"

      - name: Install s3cmd
        run: |
          pip3 install s3cmd

      - name: Upload performance test results to S3
        run: >
          s3cmd
          --access_key ${{ secrets.AWS_ACCESS_KEY_ID }}
          --secret_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          --host ${{ secrets.AWS_ENDPOINT }}
          --host-bucket ${{ secrets.AWS_ENDPOINT }}
          --bucket-location ${{ secrets.AWS_REGION }}
          --signature-v2
          --delete-removed
          --no-mime-magic
          sync
          ./packages/plasma-ui/perftest/
          s3://${{ secrets.AWS_S3_BUCKET_2 }}/perftest-reports/
