name: Publish reusable workflow

on:
  workflow_call:
    inputs:
      with-update-package-lock:
        type: boolean
        default: false
      cmd:
        type: string
        default: "bootstrap"
        description: "Execute npm run cmd. For example cmd='bootstrap' => npm run bootstrap"
      commit-message:
        type: string
        default: 'chore: Update package-lock.json files [skip ci]'
      ref:
        type: string
        description: "Manual set repo ref"
        default: ''
      auto-options:
        type: string
        description: "@auto-it cli arguments for example --no-changelog"
        default: ''
    secrets:
      gh_token:
        required: true
      npm_registry_token:
        required: true
jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.gh_token }}
      NPM_REGISTRY_TOKEN: ${{ secrets.npm_registry_token }}
    steps:
      - name: Check disk usage before clear
        run: df -h

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          sudo docker builder prune -a

      - name: Check disk usage after clear
        run: df -h

      - name: Checkout
        uses: actions/checkout@v4
        with:
          show-progress: false
          ref: ${{ inputs.ref }}

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - name: Unset header
        # https://github.com/intuit/auto/issues/1030
        run: git config --local --unset http.https://github.com/.extraheader

      - name: Prepare environment
        uses: ./.github/actions/prepare-environment

      - name: Lerna bootstrap
        run: npm run ${{ inputs.cmd }} -- --ignore="@salutejs/{*-docs,platform-test,plasma-website}"

      - name: Check disk usage after bootstrap
        run: df -h

      - name: Release Info
        run: npm whoami && npx lerna info && npx auto info || echo 'auto info returned 1'

      - name: Create Release
        run: |
          npm run release -- ${{ inputs.auto-options }}

      - name: Update package-lock files
        if: ${{ inputs.with-update-package-lock }}
        uses: ./.github/actions/update-package-lock
        with:
          commit-message: ${{ inputs.commit-message }}
          token: ${{ secrets.gh_token }}
