name: Release

on:
 workflow_dispatch:

concurrency:
  # New commit on branch cancels running workflows of the same branch
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  authorize:
    name: Authorize external pull request
    uses: ./.github/workflows/authorize-external-pr.yml

  state:
    name: Computed changed state
    needs: [ authorize ]
    uses: ./.github/workflows/change-detection.yml
    with:
      ref: refs/pull/${{github.event.pull_request.number}}/merge
    secrets: inherit

  publish:
    name: Publish canary version
    needs: [ authorize, state ]
    uses: ./.github/workflows/publish-common.yml
    with:
      ref: refs/pull/${{github.event.pull_request.number}}/merge
      auto-options: '--no-changelog'
    secrets:
      gh_token: ${{ secrets.GH_TOKEN }}
      npm_registry_token: ${{ secrets.NPM_REGISTRY_TOKEN }}

