name: Unit tests for React 17 support

on:
  merge_group:
  push:
    branches:
      - rc
      - master
  pull_request:
    branches:
      - rc
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_REGISTRY_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: npm-deps-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            npm-deps-${{ hashFiles('package-lock.json') }}

      - name: Setup packages
        run: |
          npm i --no-progress --no-audit --prefer-offline
          npm i react@17 react-dom@17 --prefix="./packages/plasma-ui"
          npm i react@17 react-dom@17 --prefix="./packages/plasma-temple"
          npm i react@17 react-dom@17 --prefix="./packages/plasma-b2c"
          npm i react@17 react-dom@17 --prefix="./packages/plasma-web"

      - name: Lerna bootstrap
        run: npx lerna bootstrap

      - name: Unit tests
        run: npm run test
